.row {
  text-align: center;

}

.header-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: darkslategrey;
  border-radius: 25px;
}
.header {
  position: sticky;
  background: #fff;
  width: 100%;
  transition: all 0.5s;
  z-index: 997;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.6);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.6);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.6);

}
.large-screen-header {
  display: block;
}
.small-screen-header {
  display: none;
}

